.container {
    text-align: center;
    margin-top: 250px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}

li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: transparent;
}

ol {
    list-style-type: none;
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(224, 224, 224, 0.541);
    bottom: 0;
}

#border {
    margin: auto;
    width: 450px;
    height: 40px;
    border-color: #dfe1e5;
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
}

#search {
    margin: auto;
    width: 450px;
    height: 40px;
    border-color: rgba(155, 152, 152, 0.364);
    border-width: 1px;
    border-style: solid;
    line-height: 30px;
    border-radius: 20px;
    font-size: 20px;
    text-align: left;
    padding-left: 20px;
}

.searchbutton  {
    margin: auto;
    color: #5f6368;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0px 16px;
    height: 36px;
    min-width: 54px;
    text-align: center;
}
#searchbutton  {
    margin: auto;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5f6368;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0px 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}